{% extends "base.html" %}

{% block title%}About Me{% endblock %}

{% block content %}
        <h1>About me</h1>
        <table class="table">
        <img src='static/images/2018-04-04 14:36:48.004.JPG' alt='food'></img>
        <h1>About Me:</h1>
        <p>I've always had a knack for giving feedback constructively.
        I found this skill through a hobby for eating at new restaurants and then writing reviews on Yelp.
        I've been on Yelp since 2014, providing reviews whenever I have time.</p>
        <h2>My Favorite Cuisines:</h2>
        <ul>
            <li>Japanese</li>
            <li>Korean</li>
            <li>Mexican</li>
            <li>Soul</li>
        </ul>
        <h2>Check out my reviews at:</h2>
        <p> <a href='https://wendytlovesfood.yelp.com'>https://wendytlovesfood.yelp.com</a> </p>
    </body>
{% endblock %}