{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Life Bucket List{% endblock %}
{% block content %}
    <div class="container">
        <h3>Make an update</h3>
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    <table class="table table-bordered table-striped">
    <p> </p>
        <tr>
            <th>Previous Updates</th>
            <th>Date Updated</th>
        </tr>
            {% for update in updates %}
            <tr>
              <td>{{ update.body }}</td>
              <td>{{ update.timestamp.strftime('%d %B %Y') }}</td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}

