<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
        <h2>Class Schedule</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Period</th>
            <th>Teacher</th>
            <th>Class</th>
            <th>Resource Link</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ms. Lee</td>
            <td>Introduction to Computer Science</td>
            <td> <a href="https://snap.berkeley.edu/">Snap!</a> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ms. Eshun-Wilson</td>
            <td>A.P. English Literature and Composition</td>
            <td> <a href="https://2wendyt2018.blogspot.com/">Capstone Blogs</a> </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mr. Wai</td>
            <td>A.P. Calculus AB</td>
            <td> <a href="http://hsebooks.kendallhunt.com/calc_se/ebook/kh.html">Calculus Textbook</a> </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ms. Nelson</td>
            <td>Student Leadership</td>
            <td> <a href="https://secure.cada1.org/i4a/pages/index.cfm?pageid=3461">CADA</a> </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mr. Kelly</td>
            <td>American Government</td>
            <td> <a href="https://www.whitehouse.gov/about-the-white-house/the-constitution/">The Constitution</a> </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Ms. Belli</td>
            <td>Teacher Aide</td>
            <td> <a href="https://fafsa.ed.gov/">FAFSA</a> </td>
        </tr>
    </table>
    </div>
    </body>
</html>