{% extends "base.html" %}

{% block title%}Top Ten Songs{% endblock %}

{% block content %}
    <div class="container">
        <h1>Top Ten Songs</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Artist Name</th>
            <th>Youtube Link</th>
        </tr>
              {% for song in songs %}
              <tr>
                <td>{{ song.title }}</td>
                <td>{{ song.artist_name }}</td>
                <td><a href="{{ song.youtube_url }}">{{ song.youtube_url }}</a></td>
              </tr>
              {% endfor %}
    </table>
    </div>
{% endblock %}